body {
  background-color: #253245;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  justify-content: center;
  text-align: center;
  color: #fff;
}

.footer {
  justify-content: center;
  text-align: center;
  color: #fff;
}

.container-photos {
  max-width: 800px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.slide {
  display: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.img-description {
  justify-content: center;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.fade {
  animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.3s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-indicators {
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #189994;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3 ease;
  cursor: pointer;
}

.dot.active {
  width: 15px;
  height: 10px;
  border-radius: 10px;
  background-color: #a0d0c4;
  transform: scale(1.5);
  box-shadow: 0 0 8px rbga(255, 255, 255, 0.5);
}

.main-menu {
  align-items: start;
  width: 50px;
  height: 50px;
  display: block;
}
